/home/your-username/.PhpStorm2017.2
/home/your-username/.cache
/home/your-username/.cache
/home/your-username/.npm
/home/your-username/.composer
/home/your-username/.vagrant.d
/home/your-username/Downloads/
re:/vendor/
re:/node_modules/
